@import url('https://fonts.googleapis.com/css?family=Inter');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: chocolate;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  max-width: 100%;

  --light-text: #94938F;
  --disabled-background: #b0afaf;
  --dark-text: #130E01;
  --green-accent: #12C418;
  --green-primary: #15A919;
  --mid-text: #656564;
  --light-green: #ABF7AE;
  --error-primary: #bb1c1c;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  align-items: start;
  background-color: white;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.root{
  width: 100%;
  height: 100%;
}

.error-message{
  color: red;
}


.my-input {
  /* width: 100%; */
  outline: none ;
  border: none ;
  padding: 4px;
  border-bottom: solid 2px var(--light-text);
}

.my-text-input {
  width: 100%;
}

.my-button {
  padding: 8px 20%;
  border: none;
  border-radius: 16px;
  font-weight: 500;
  font-size: 16px;
}

.my-button {

}

.my-button:disabled {
  background-color: var(--disabled-background);
  color: white;
}

.--button-green:hover:enabled {
  background-color: var(--green-primary);
}

.--button-green {
  background-color: var(--green-accent);
  color: white;
}

.--button-gray {
  background-color: var(--light-text);
  color: white;
}

.--button-gray:enabled:hover {
  background-color: var(--mid-text);
}

.--center {
  text-align: center !important;
}