@import url("../../assets/variables.css");


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.pproject{
    display: flex;
    flex-direction: row;
    gap: 80px;
    
}

.proj-title{
    font-size: 42px;
    font-family: "Inter-Bold", Helvetica;
    font-size: bold;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}

.border-proj-title{
    width: 100%;
    background-color: rgba(235, 232, 232, 0.50);
    border-radius: 12px;
}

.tags{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.tag{
    border: 2px solid var(--primary);
    padding: 5px 20px;
    border-radius: 8px;
}

.main-post{
    width: 930px;
    margin-left: 80px;
    margin-top: 80px;

}

.proj-poster{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    flex-direction: row;
    gap: 40px;
    margin-bottom: 50px;
}

.left-project{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#avt{
    height: 90px!important;
    width: 90px!important;
}

.proj-name-left{
    font-size: 26px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 600;
    align-items: center;
    text-align: center;
}

.proj-username-left{
    font-size: 26px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 300;
    align-items: center;
    text-align: center;
}

.proj-name-wrapper-left{
    display: flex;
    gap: 10px;
    flex-direction: row;
}

.proj-name-rating-left .proj-rating-left img{
    width: 20px!important;
    height: 20px!important;
}

.proj-rating-left{
    display: flex;
    flex-direction: row;
    margin-top: 4px;
}

.proj-stars-left{
    align-items: center;
    text-align: center;
    margin-bottom: 0;
    margin-top: 6px;
}

.proj-rating-left p{
    font-size: 16px;
    font-family: "Inter-Bold", Helvetica;
    align-items: center;
    text-align: center;
}


.proj-location-left {
    display: flex;
    align-items: center;
}

.proj-location-left img{
    width: 28px!important;
    height: 18px!important;
}


.proj-body{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.right-project{
    width: 400px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.button-edit{
    background-color: red;
    width: 135px;
    height: 45px;
    border-radius: 8px;
    border: 1px solid #000000;
    align-self: flex-end;
    justify-content: right;
}

.right-profile img{
    height: 80px!important;
    width: 90px!important;
}

.job-profile{
    margin-top: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    border-radius: 12px;
    max-width: 400px;
    max-height: 420px; 
    border: 1px solid var(--primary);
}

.project-name-right p{
    margin-bottom: 3px;
}


.job-profile{
    display: flex;
    flex-direction: column;
}

.project-name-wrapper-right{
    display: flex;
    flex-direction: column;
    max-width: 160px;
}

.right-profile{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.project-right-stars img{
    width: 15px!important;
    height: 15px!important;
}

.project-location-right img{
    width: 28px!important;
    height: 18px!important;
}

.project-right-stars{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.project-right-stars p{
    font-size: 16px;
    font-family: "Inter-Bold", Helvetica;
    align-items: center;
    text-align: center;
    margin-top: 6px;
}

.project-jobs-right{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 10px;
}

.project-job-right{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
    justify-content: space-around;
}

.wrapper-project-image{
    background-color: #EBE8E8;
    border-radius: 12px;
    max-height: 450px;
    padding: 20px;
    max-width: 910px;
margin-top: 30px;
}

.project-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    background-color: #C7F9B4;
    padding: 20px;
}

.project-info h4{
    font-size: 20px;
    font-family: "Inter-Bold", Helvetica;
    align-items: center;
    text-align: center;
    font-weight: 600;
}

.project-right-contact{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: space-around;
}

.project-detail{
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: left;
    align-items: center;
}

.project-detail-price, .project-type, .project-time{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.project-detail-price p, .project-type p, .project-time p{
    margin: 0;
}


.project-type img{
    align-items: center!important;
    text-align: center!important;
    height: 40px!important;
    width: 40px!important;
}

.project-time img{
    align-items: center!important;
    text-align: center!important;
    height: 40px!important;
    width: 40px!important;
}

.project-detail-price img{
    align-items: center!important;
    text-align: center!important;
    height: 40px!important;
    width: 40px!important;
}

.btn-bid-and-wish{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 30px;
    justify-content: space-around;
}

.button-bid-project{
    height: 50px;
    width: 110px;
    border-radius: 15px;
    background-color: var(--primary);
    border: none;
}

.button-wish-project{
    background-color: #C7F9B4;
    border: none;
}

.button-wish-project img{
    height: 30px;
    width: 30px;
}

.project-bid-list-info{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-color: #009304;
    padding: 20px;
}

.view-detail p{    
    font-size: 20px;
    font-family: "Inter-Bold", Helvetica;
    align-items: center;
    text-align: right;
    font-weight: 600;
    color: #fff;
}

.project-bid-list-info > p{
    font-size: 20px;
    font-family: "Inter-Bold", Helvetica;
    align-items: center;
    text-align: left;
    font-weight: 600;
    color: #fff;
    margin-left: 20px;
}

.proj-bid-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    overflow-y: scroll;
    max-height: 750px;
}

.comments{
    margin-left: 80px;
}

.comment-title > p{
    font-size: 30px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 600;
}

.proj-line{
    align-items: center;
    text-align: center;
    margin-top: 40px;
}

.related-project-title p{
    font-size: 30px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 600;
    margin-left: 80px;
}

.related-project-list{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 80px;
    margin-bottom: 100px;
}

.related-project-item{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#post-img{
    max-height: 420px;
    max-width: 890px;
}








