.root{
    color: #fff;
    background-color: #fff;
}

.footer {
    bottom: 10%;
    height: 320px;
    width: 100%;
    background-color: #fff;
    position: relative;
}

.overlapgroup {
    margin: 3% 3%  3% 3%;
    position: relative;
    background-color: #F9F7F7;
    border-radius: 15px;
    height: 280px;
}
  
.box .FLUS {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 19.4px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 74px;
    width: 402px;
}
  
  .box .text_wrapper {
    font-weight: 700;
  }
  
  .box .span {
    font-family: "Inter-Light", Helvetica;
    font-size: 16.1px;
    font-weight: 300;
  }
  
  .box .EXPLOREDocsPlugin {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 19.4px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    width: 322px;
  }
  
  .box .text_wrapper_2 {
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
  }
  
  .box .text_wrapper_3 {
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    text-decoration: underline;
  }
  
  .box .LETsCONNECT {
    display: flex;
    flex-direction: column;
    align-self: center;
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 19.4px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    width: 322px;
  }
  