.update-profile-container {
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    z-index: 900;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
  }

  .popup-update-profile {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    padding: 20px;
    position: relative;
    width: 70%;
    max-width: 700px;
    height: 86%;
    max-height: 700px;
    overflow: auto;
  }

  .close-popup-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    font-size: 2rem;
    cursor: pointer;
    height: 30px;
    width: 30px;
  }

  .split-to-two-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .multi-columns {
    display: flex;
    align-items: flex-start;
  }