.tab {
    overflow-y: scroll;
    height: 889px;
    width: 1037px;
    display: flex;
    flex-direction: column;
  }

  .link-to-bank-text-wrap{
    font-size: 20px;
    font-weight: 800;
    margin-top: 3%;
    font-family: 'Inter', sans-serif;
  }


.wishlist-tab{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    border-radius: 12px;
    padding: 10px;
    width: 90%;
}

.wishlist-outline{
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
  