@import url('../../assets/variables.css');

.tags-container {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    border: 2px solid var(--accent);
    border-radius: 5px;
    overflow: scroll;
    padding: 5p
}
