@import url('../../assets/variables.css');

.add-a-tag {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
}

.input-tag {
    background-color: var(--white);
    color: var(--black);
    width: 70%;
    height: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2px;
}

.current-tags {
    height: 100px;
    width: 100%;
}

.error-message {
  color: var(--red);
  font-size:small;
}

.success-message {
  color: var(--primary);
  font-size: small;
}