@import url("../../assets/variables.css");

.update-avatar-section {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .update-avatar-container{
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: white;
    box-sizing: border-box;
    box-shadow:0px 5px 6px #d9d9d9 ;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
  }

  .update-ellipse {
    height: 100%;
    object-fit: cover;
    width: 100%;
    border: white;
    border-width: 30px;
    box-shadow: #d9d9d9;
    border-radius: 100%;
  }
  
  .update-avatar-text {
    color: var(--black);
    opacity: 0.3;
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-weight: 500;
  }
