@import url("../../assets/variables.css");

.update-part-container {
    width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: medium;
    margin-bottom: 10px;
    background: var(--accent);
    opacity: 0.5;
    padding: 5px;
    border-radius: 5px;
}

.fields {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

