.error-message {
    color: var(--red);
    font-size:small;
}

.success-message {
    color: var(--primary);
    font-size: small;
}

.update-button {
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    margin-top: 5px;
}