.profile {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: relative;
    min-height: 200px;
    min-width: 1500px;
  }
  
  .main-tab-container{
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
    border-radius: 15px;
    box-shadow: 0px 4px 4px #00000040;
    height: 889px;
    left: 356px;
    position: absolute;
    top: 0;
    width: 1037px;
    overflow: hidden;
  }
  /* .profile .div {
    background-color: #ffffff;
    height: 2079px;
    overflow: hidden;
    position: relative;
    width: 1440px;
  } */
  
  .profile .overlap {
    height: 100%;
    width: 100%;
  }
  
  .profile .profile-info-section {
    height: 100%;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .profile .cover-avatar-section {
    height: 100%;
    width: 100%;
  }
  
  .profile .rectangle {
    height: 274px;
    width: 100%;
    object-fit: cover;

  }
  
  .avatar-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 283px;
    left: 97px;
    top: 139px;
    width: 283px;
    position: absolute;
    border: white;
    box-sizing: border-box;
    box-shadow:0px 5px 6px #d9d9d9 ;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    overflow: hidden;
  }
  .profile .ellipse {
    height: 278px;
    object-fit: cover;
    width: 278px;
    position: absolute;
    border: white;
    border-width: 30px;
    box-shadow: #d9d9d9;
  }
  
  .profile .information-section {
    height: 163px;
    left: 435px;
    margin-top: 1%;
    width: 1033px;
    position: relative;
  }
  
  .profile .frame {
    min-height: 115px;
    left: 0;
    top: 0;
    width: 1033px;
    position: relative;
  }
  
  .profile .name-section {
    color: #000000;
    font-family: "Inter-ExtraBold", Helvetica;
    font-size: 38px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    /* display: flex; */
  }
  
  .profile .text-wrapper {
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma;
  }
  
  .profile .span {
    font-family: "Inter-Regular", Helvetica;
  }
  
  .profile .text-wrapper-2 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 31px;
    letter-spacing: 0;
    line-height: normal;
    top: 80px;
    white-space: nowrap;
  }
  
  .social-row{
    position: relative;
    width: 60%;
  }
  .social-row > .col{
    justify-content: left;
  }
  .profile .text-wrapper-3 {
    color: #676767;
    font-family: "Inter-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    text-decoration: underline;
    margin-left: 10px;
  }
  
 
  .profile .img {
    height: 35px;
    left: 31px;
    object-fit: cover;
    top: 128px;
    width: 35px;
  }
  


  
  .profile .rating-bar {
    height: 20px;
    left: 133px;
    width: 200px;
    position: relative;
    justify-content: center;
    display: flex;
  }
  
  .profile .text-wrapper-6 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    white-space: nowrap;
  }
  
  .edit-container, .image{
    height:30px;
    float:right
  }
  
  .profile .overlap-5 {
    min-height: 1029px;
    height: 100%;
    width: 100%;
    position: relative;
  }
  
  .profile .overlap-wrapper {
    background-color: #f9f7f7;
    min-height: 1029px;
    height: 100%;
    width: 100%;
  }
  
  .profile .overlap-6 {
    height: 924px;
    position: relative;
    top: 7px;
    width: 1419px;
  }
  
  .profile .frame-2 {
    height: 275px;
    left: 0;
    position: absolute;
    top: 0;
    width: 382px;
  }
  
  .profile .text-wrapper-7 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 30px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 16px;
  }
  
  .profile .tag-box {
    overflow-y: hidden;
    height: 204px;
    left: 30px;
    position: absolute;
    top: 52px;
    width: 321px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 4px 4px #00000040;
    z-index: 1;
  }

  .tag-box-inner{
    overflow-y: scroll;
    z-index: 1;
    height: 204px;
    width: 321px;
  }
  
  
  .profile .div-wrapper {
    height: 35px;
    left: 16px;
    position: absolute;
    top: 67px;
    width: 166px;
  }
  
  .profile .group-3 {
    height: 35px;
    left: 16px;
    position: absolute;
    top: 115px;
    width: 247px;
  }
  
  .profile .overlap-8 {
    background-color: #15a919;
    border-radius: 30px;
    height: 35px;
    position: relative;
    width: 245px;
  }
  
  .profile .text-wrapper-9 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 37px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 9px;
    white-space: nowrap;
    width: 195px;
  }
  
  .profile .group-4 {
    height: 30px;
    left: 195px;
    position: absolute;
    top: 22px;
    width: 114px;
  }
  
  .profile .overlap-9 {
    background-image: url(./group-101.png);
    background-size: 100% 100%;
    height: 30px;
    position: relative;
    width: 112px;
  }
  
  .profile .text-wrapper-10 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 21px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 4px;
    width: 76px;
  }
  
  .profile .overlap-10 {
    height: 889px;
    left: 26px;
    position: absolute;
    top: 35px;
    width: 1393px;
  }
  
  
  
  .profile .tab-container {
    /* left: 15px; */
    position: relative;
    margin-top: 276px;
  }
  
  .profile .group-6 {
    background-color: #ffffff;
    border-bottom-style: solid;
    border-radius: 20px 0 0 20px;
    border-bottom-width: 1px;
    border-color: #000000;
    border-left-style: solid;
    border-left-width: 1px;
    border-top-style: solid;
    border-top-width: 1px;
    height: 71px;
    left: 4px;
    position: relative;
    width: 352px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    
    cursor: pointer;
  }

  .profile .group-6.active {
    border-color: #15a919;
    background-color: #15a919;
    
    .text-wrapper-11{
      color: white;
      font-weight: 800;
    }
    cursor: pointer;
  }

  .profile .text-wrapper-11 {
    color: black;
    font-family: "Inter-ExtraBold", Helvetica;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
    width: 100%;
  }

  /* .profile .text-wrapper-11.active {
    color: #15a919;
    font-weight: 800;

  } */
  
  .profile .vector {
    height: 68px;
    left: 354px;
    position: absolute;
    top: 277px;
    width: 6px;
  }
  
  .profile .vector-2 {
    height: 60px;
    left: 355px;
    position: absolute;
    top: 286px;
    width: 8px;
  }
  
  
  .profile .ctn-post {
    height: 395px;
    left: 410px;
    position: absolute;
    top: 473px;
    width: 934px;
  }
  
  .profile .overlap-15 {
    background-color: #ffffff;
    border: 3px solid;
    border-color: var(--collection-1-primary);
    border-radius: 12.32px;
    height: 177px;
    left: 0;
    position: absolute;
    top: 0;
    width: 930px;
  }
  
  .profile .ctn-2 {
    height: 177px;
    left: 0;
    position: absolute;
    top: 218px;
    width: 934px;
  }
  
  .profile .ctn-3 {
    height: 177px;
    left: 436px;
    position: absolute;
    top: 86px;
    width: 934px;
  }
  
  .to-projects-manager {
    height: 100%;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .navigate-button {
    margin-left: 5px;
  }

  .navigate-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .social-link {
    margin: 5px;
  }