.ratingContainer{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
}

.ratingContainer span{
    height: 100%;
    width: auto;
    display: inline-block;
    position: relative;
}
.ratingContainer > span >span{
    margin-right: 5%;
}

.ratingContainer > span >span > span{
    position: relative;
}

.ratingContainer > span{
    width: 100%;
}

.ratingContainer img{
    top:0;
    left:0;
    position: relative;
    height: 100%;
    vertical-align: top;
    margin-right: 5%;
}