@import url("../../assets/variables.css");

.job-page{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: flex-start; 
    min-height: 700px;
    height: 100%;
    background-color: #eee;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: 50px;
    width: 100%;
}

.btn-new-post {
    background-color: var(--primary);
    font-size: var(--medium-font-size);
    box-shadow: 0px 4px 4px #00000040;
    border-radius: 8px;
    height: 55px;
    width: 200px;
    margin-left: 50px;
    margin-right: 200px;
}

.sort {
    height: 55px;
    width: 200px;
    text-align: center;
    background-color: var(--primary);
    margin-left: 200px;
    margin-right: 0;
}

.c-container{
    display: flex;
    margin-top: 50px;
}

.left{
    margin-right: 30px;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
