@import url("../../assets/variables.css");


*,p{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.filter-container{
    width: 300px;
    border: 3px solid var(--primary);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFF;
}



.header h2{
    font-size: 24px;
    color: var(--primary);
    font-family: Inter-Bold, sans-serif;
    font-weight: 700;
    
}

.header{
    padding: 20px 0px 5px 20px;
    width: 100%;
    text-align: left;
}

.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.filter{
    color: var(--dark-gray);
    background-color: var(--white);
    opacity: 0.5;
    border: 1px solid #000;
    height: 30px;
    width: 230px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: "Inter-Medium";
    border-radius: 8px;
    box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.25);
    padding-left: 10px;
    display: flex;
}


.overlay-container{
  overflow: hidden;
  
  margin-top: 20px;
  margin-bottom: 20px;
  width: 230px;
  border-radius: 15px;
  border: 1px solid #000;
  background: var(--WHITE, #FFF);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
}

.skill-container{
  display: flex;
  height: 200px;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 13px;
  padding-right: 12px;
  overflow-y: scroll;
  
}

.skill{
  border-radius: 30px;
  background: var(--Primary, #15A919); 
  color: var(--WHITE, #FFF);
  padding: 5px 10px 5px 15px;
  margin: 5px;
  margin-top: 5px;
  font-size: 14px;
  font-family: 'Inter';
  max-width: 230px;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.skill-name{
  margin-right: 15px;
}

.exit-button-range{
  height: 15px;
  object-fit: cover;
  justify-self: flex-end;
}

.salary-range{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
}

.salary-range p{
    font-size: var(--large-font-size);
    font-family: Inter-Medium, sans-serif;
    color: var(--dark-gray);
    font-weight: 600;
}

.salary-range input{
    max-width: 240px;
    height: 30px;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
}

.inputRange-container{
  margin-left: 25px;
  margin-right: 25px;
  width: 100%;
}
/* 
.salary-range input[type=range]::-webkit-slider-runnable-track {
    background: var(--primary);
  }
  
  .salary-range input[type=range]::-webkit-slider-thumb {
    background: var(--primary);
  }
  
  .salary-range input[type=range]::-moz-range-track {
    background: var(--primary);
  }
  
  .salary-range input[type=range]::-moz-range-thumb {
    background: var(--primary);
  }
  
  .salary-range input[type=range]::-ms-track {
    background: var(--primary);
  }
  
  .salary-range input[type=range]::-ms-thumb {
    background: var(--primary);
  } */

  .display{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 130px;
  }

  .text-range-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
}


  .lower, .upper{
    font-size: 16px;
    font-family: "Inter-Medium", sans-serif;
    color: black;
    font-weight: 600;
    height: 35px;
    width: 100px;
    border: 2px solid var(--primary);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.values{
  margin: 0;
  width: 100%;
  height: 100%;
  border: white;
  text-align: center;
  color: #0e8412;
  font-style: bold;
}

input:active, input:focus{
  outline: none;
  color: black;
  font-size: 13px;
}

.text-range{
  width: 50%;
  text-align: left;

}


  