@import url("../../assets/variables.css");
.filter-container{
    height: 500px;
    width: 390px;
    border: 3px solid var(--primary);
}

.header h2{
    font-size: var(--xxlarge-font-size);
    color: var(--primary);
    font-family: Inter-Bold, sans-serif;
    font-weight: 700;
}

.header{
    padding: 20px 0px 20px 20px;
}

.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.filter{
    color: var(--dark-gray);
    background-color: var(--white);
    opacity: 0.5;
    border: 1px solid #000;
    border-radius: 5px;
    height: 50px;
    width: 310px;
    justify-content: center;
    align-items: center;
    font-size: var(--large-font-size);
    font-family: Inter-Medium, sans-serif;
}

.salary-range{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
}

.salary-range p{
    font-size: var(--large-font-size);
    font-family: Inter-Medium, sans-serif;
    color: var(--dark-gray);
    font-weight: 600;
}

.salary-range input{
    max-width: 240px;
    height: 30px;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
}

.salary-range input[type=range]::-webkit-slider-runnable-track {
    background: var(--primary);
  }
  
  .salary-range input[type=range]::-webkit-slider-thumb {
    background: var(--primary);
  }
  
  .salary-range input[type=range]::-moz-range-track {
    background: var(--primary);
  }
  
  .salary-range input[type=range]::-moz-range-thumb {
    background: var(--primary);
  }
  
  .salary-range input[type=range]::-ms-track {
    background: var(--primary);
  }
  
  .salary-range input[type=range]::-ms-thumb {
    background: var(--primary);
  }

  .display{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .from, .to{
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .lower, .upper{
    font-size: var(--large-font-size);
    font-family: Inter-Medium, sans-serif;
    color: var(--dark-gray);
    font-weight: 600;
    height: 50px;
    width: 100px;
    border: 1px solid var(--primary);
    margin-right: 50px;
    border-radius: 10px;
  }

  