.popup-container-bid {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 700px;
    z-index: 100;
    position: fixed;
    border-radius: 15px;
    top:30px;
    transform: translate(50%, 0);
    border-color: #000000;
    border: 1px solid;
    overflow: hidden;
  }

.row-wrapper{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
}
  
  .popup-container-bid .exit-container {
    background-color: #ff0000;
    border: 1px solid;
    border-color: #000000;
    border-radius: 8px;
    height: 30px;
    position: relative;
    width: 29px;
    display: flex;
    justify-content: center;
    align-items: center;  
    justify-self: flex-end;
    margin-top: 20px;
    margin-right: 30px;
  }
  
  .popup-container-bid .text-wrapper {
    color: #ffffff;
    font-family: "Inter-Medium", Helvetica;
    font-size: 24px;
    font-weight: 500;
    height: auto;
  }

  .popup-container-bid .div-wrapper {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .popup-container-bid .text-wrapper-title {
    color: #009304;
    font-family: "Inter-Bold", Helvetica;
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
  }

  .popup-container-bid .avg {
    height: auto;
    width: 100%;
  }

  .popup-container-bid .text-wrapper-2 {
    color: #009304;
    font-family: "Inter-Bold", Helvetica;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-left: 10%;
  }
  
  
  
.bid-container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
}
  
  
  .popup-container-bid .bid {
    height: 270px;
    width: 90%;
    margin-right: 3%;
    margin-top: 3%;
  }
  
  .popup-container-bid .overlap {
    background-color: #ffffff;
    border-radius: 12.32px;
    height: 100%;
    position: relative;
    width: 100%;
  }
  
  .popup-container-bid .detail-text {
    color: transparent;
    font-family: "Inter-Light", Helvetica;
    font-size: 16.4px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    width: 70%;
  }
  
  .popup-container-bid .span {
    color: #000000;
    font-weight: 300;
  }
  
  .popup-container-bid .text-wrapper-3 {
    color: #009304;
    font-family: "Inter-Bold", Helvetica;
    font-size: 18px;
    font-weight: 700;
  }
  
  .popup-container-bid .budget {
    color: #009304;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
    width: 93px;
  }
  
  .popup-container-bid .group {
    height: 79px;

    width: 315px;
  }
  
  .popup-container-bid .rectangle {
    height: 77px;
    object-fit: cover;
    width: 82px;
  }

  .name-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .popup-container-bid .group-2 {
    height: 15px;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
 
  
  .popup-container-bid .rectangle-2 {
    height: 19px;
    left: 283px;
    object-fit: cover;
    position: absolute;
    top: 2px;
    width: 28px;
  }
  
  .popup-container-bid .nguyen-thi-truc {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    width: 179px;
  }
  
  .popup-container-bid .text-wrapper-5 {
    font-weight: 700;
  }
  
  .popup-container-bid .text-wrapper-6 {
    font-family: "Inter-Regular", Helvetica;
  }
  
  .popup-container-bid .btns {
    height: 97px;
    left: 820px;
    position: absolute;
    top: 150px;
    width: 146px;
  }
  
  .popup-container-bid .accept {
    height: 42px;
    left: 0;
    position: absolute;
    top: 0;
    width: 148px;
  }
  
  .popup-container-bid .overlap-group-3 {
    background-color: var(--collection-1-primary);
    border-radius: 8px;
    height: 42px;
    position: relative;
    width: 146px;
  }
  
  .popup-container-bid .text-wrapper-7 {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 16.4px;
    font-weight: 700;
    left: 43px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 13px;
    white-space: nowrap;
    width: 61px;
  }
  
  .popup-container-bid .reject {
    height: 42px;
    left: 0;
    position: absolute;
    top: 55px;
    width: 148px;
  }
  
  .popup-container-bid .overlap-2 {
    background-color: #a91d15;
    border-radius: 8px;
    height: 42px;
    position: relative;
    width: 146px;
  }
  
  .popup-container-bid .text-wrapper-8 {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 16.4px;
    font-weight: 700;
    left: 46px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 13px;
    white-space: nowrap;
    width: 56px;
  }
  
  .popup-container-bid .overlap-wrapper {
    height: 271px;
    left: 65px;
    position: absolute;
    top: 446px;
    width: 987px;
  }
  
  .popup-container-bid .overlap-group-wrapper {
    height: 271px;
    left: 65px;
    position: absolute;
    top: 737px;
    width: 987px;
  }
  
  .popup-container-bid .scroll-bar {
    background-color: #d9d9d966;
    border-radius: 30px;
    height: 853px;
    left: 1087px;
    position: absolute;
    top: 155px;
    width: 11px;
  }
  
  .popup-container-bid .rectangle-3 {
    background-color: #d9d9d9;
    border-radius: 30px;
    height: 106px;
    position: relative;
    top: 23px;
  }
  