@import url(../../assets/variables.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.new-project-form {
  width: 710px;
  max-height: 900px;
  border: 1px solid #000;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.new-project-header {
  width: 710px;
  height: 50px;
  background-color: var(--primary);
  box-shadow: 0px 3.72px 3.72px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px 20px 0px 0px;
}

.new-project-header p {
  font-size: 36px;
  text-align: center;
  color: var(--white);
  margin: 0;
  line-height: 50px;
  font-family: "Inter-Bold", sans-serif;
  font-weight: bold;
}

.new-project-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 5px;
  margin-left: 30px;
  margin-right: 30px;
  align-items: center;
  padding: 10px;
}

.new-project-body div {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.new-project-body div label {
  font-size: 12px;
  font-family: "Inter-Regular", sans-serif;
  color: #666;
}

.new-project-body div input {
  width: 650px;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  font-family: "Inter-Regular", sans-serif;
  color: #666;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.new-project-body div input:focus {
  outline: none;
  border: 1px solid var(--primary);
}

.new-project-body div textarea {
  width: 650px;
  height: 70px !important;
  overflow-y: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  font-size: 14px;
  font-family: "Inter-Regular", sans-serif;
  color: #666;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  resize: none;
}

.new-project-body div textarea:focus {
  outline: none;
  border: 1px solid var(--primary);
}

.white-button {
  border-radius: 30px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.exit-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
}

.exit-button img {
  width: 20px;
  height: 20px;
}

.file-input-container img{
    width: 40px;
    height: 40px;
}


.add-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: "Inter-Regular", sans-serif;
    color: #666;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.file-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.file-input-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.file-input-text p {
    margin: 0px;
}

.browse-label {
    margin: 0 10px;
    text-decoration: underline;
    color: blue !important;
}

.supported-formats {
    text-align: center;
}

.add-image-input{
    width: 650px;
}

.file-name {
    font-family: "Inter-Regular", sans-serif;
    color: var(--primary);
    font-size: 16px; 
    padding: 5px; 
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px; 
    margin: 0px;
}

.project-range-budget{
  display: flex;
  flex-direction: row!important;
  gap: 30px!important;
}

.budget-min-input input, .budget-max-input input{
  width: 310px!important;
}

.project-tag-input{
  width: 650px;
}

.project-tag-input #projectTag{
  padding-left: 10px;
  background-color: white;
  color: #666;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 35px;
}

.project-tag-input #projectTag:focus{
  outline: none;
  border: 1px solid var(--primary);
}


