@import url("../../assets/variables.css");
.root{
    background-color: blue;   
}

.homepage {
    background-color: #ffffff;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: relative;
    min-height: 200px;
    min-width: 1500px;
    /* clear:both; */
    /* overflow:auto; */
  }
  
  .homepage .BannerSection {
    height: 450px;
    left: 0;
    top: 0;
    width: 100%;
    position: relative;
  }
  
  .BannerSection .magnificent-view {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .BannerSection .rectangle {
    background-color: #0093047a;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  .BannerSection .text-wrapper {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 13%;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top:40%; 
    width: 568px;
  }
  
  .BannerSection .text-wrapper-2 {
    color: #ffffff;
    font-family: 'Lemon';
    font-size: 100px;
    font-weight: 400;
    left: 13%;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 10%;
  }
  
  .BannerSection .img {
    height: 90%;
    right: 8%;
    position: absolute;
    bottom: 0;
  }
  
  .BannerSection .ButtonInBanner {
    display: flex;
    flex-direction: row;
    height: 79px;
    left: 13%;
    position: absolute;
    top: 70%;
    width: 400px;
  }
  
  .BannerSection .button-wrapper-1 {
    background-color: #ffffff;
    border: 2px solid;
    border-color: #15a919;
    border-radius: 8px;
    position: relative;
    width: 230px;
    height: 60px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
  
  .BannerSection .text-wrapper-3 {
    color: #15a919;
    font-family: "Inter-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    width: 237px;
  }

  .BannerSection .button-wrapper-2 {
    background-color: #ffffff;
    border: 2px solid;
    border-color: #12c418;
    border-radius: 8px;
    position: relative;
    width: 230px;
    height: 60px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
  }
  
  .BannerSection .text-wrapper-4 {
    color:  #12c418;
    font-family: "Inter-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    width: 237px;
    
  }
  
  .CategorySection{
    background-color: white;
    position: relative;
    min-height: 600px;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  .homepage .home-category-wrapper {
    border: 4px solid;
    border-color: #000000;
    border-radius: 20px;
    box-shadow: 0px 4px 4px #00000040;
    min-height: 100px;
    /* position: absolute; */
    width: 80%;
  }
  
  .homepage .ctn-category {
    min-height: 20px;
    width: 80%;
    margin-top: 2%;
    padding-left: 6%;
  }
  
  .homepage .txt-category {
    color: var(--collection-1-dark-text);
    font-family: "Inter-Bold", Helvetica;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    /* position: absolute; */
    width: 100%;
  }
  
  /* .homepage .frame-2 {
    align-items: center;
    display: inline-flex;
    gap: 60px;
    justify-content: center;
    left: 120px;
    position: absolute;
    top: 159px;
  } */
  
  .homepage .group-3 {
    height: 165px;
    position: relative;
    width: 138px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .homepage .text-wrapper-5 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    height: 100%;
    width: 100%;
    text-align: center;

  }
  
  .homepage .image {
    height: 129px;
    object-fit: cover;

    width: 129px;
  }
  .col{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }

  .ProjectSection{
    background-color: white;
    position: relative;
    min-height: 500px;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .project-header{
    position: absolute;
    top: 2%;
    left: 7%;
    font-size: 30px;
    font-family: "Inter-Black";
    color: var(--primary);
  }
  .project-container{
      margin-top: 2%;
      height: 100%;
      width: 80%;
      display: flex;
      flex-direction: row;
  }

  .project-container > .post-container{
    margin-top: 2%;
    margin-bottom: 2%;
  }