@import url(../../assets/variables.css);


.comment{
    max-width: 900px;
}

.commentator-image img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.commentator{
    display: flex;
    flex-direction: column;
    gap: 20px
}

.commentator-info{
    display: flex;
    gap: 20px;
    align-items: center;
}
.comment-star{
    height: 10px;
}
/* .comment-star img{
    width: 20px;
    height: 20px;
} */

.commentator-name img{
    width: 30px;
    height: 20px;
}

.commentator-name{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: left;
}

.comment-star p{
    margin: 0px;
    align-items: center;

}

.comment-star{
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 0px;
    margin-left: 60px;
}

.rating-container{
    padding: 0;
    max-width: 160px;
}

.comment-time{
    margin-left: 50px;
}

.comment-content{
    margin-left: 60px;
}

.responder-info img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.responder{
    margin-left: 60px;
    margin-top: 10px;
}

.responder-info{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}
.responder-info p{
    margin: 0px;
}

.input-comment{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.comment-input{
    width: 85%;
}
