:root {
    --accent: rgba(18, 196, 24, 1);
    --dark-text: rgba(19, 14, 1, 1);
    --light-text: rgba(148, 147, 143, 1);
    --primary: rgba(21, 169, 25, 1);
    --secondary: rgba(171, 247, 174, 1);
    --star: rgba(236, 216, 35, 1);
    --white: rgba(255, 255, 255, 1);
    --black: rgba(0, 0, 0, 1);
    --red: rgba(255, 0, 0, 1);
    --small-font-size: 12px;
    --medium-font-size: 16px;
    --large-font-size: 20px;
    --xlarge-font-size: 24px;
    --xxlarge-font-size: 28px;
}

@font-face {
    font-family: 'Inter-Bold';
    src: local('Inter'),url(./fonts/Inter/Inter-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Inter-Regular';
    font-weight: 800;
    src: local('Inter'), url(./fonts/Inter/Inter-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Inter-Black';
    font-weight: 800;
    src: local('Inter'), url(./fonts/Inter/Inter-Black.ttf) format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-weight: 800;
    src: local('Inter'), url(./fonts/Inter/Inter-ExtraBold.ttf) format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-weight: 800;
    src: local('Inter'), url(./fonts/Inter/Inter-ExtraLight.ttf) format('truetype');
}

@font-face {
    font-family: 'Inter-Light';
    font-weight: 800;
    src: local('Inter'), url(./fonts/Inter/Inter-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Inter-Medium';
    font-weight: 800;
    src: local('Inter'), url(./fonts/Inter/Inter-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-weight: 800;
    src: local('Inter'), url(./fonts/Inter/Inter-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-weight: 800;
    src: local('Inter'), url(./fonts/Inter/Inter-Thin.ttf) format('truetype');
}

@font-face {
    font-family: 'Lemon';
    font-weight: 800;
    src: local('Inter'), url(./fonts/Lemon/Lemon-Regular.ttf) format('truetype');
}