@import url("../../assets/variables.css");

.search-bar{
    background-color: var(--white);
}

.input{
    background-color: var(--white);
    color: rgba(19, 14, 1, 0.5);
    font-size: var(--large-font-size);
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 55px;
    width: 650px;
    font-family: Inter-Bold;
}