@import url("../../assets/variables.css");
.col{
    margin-top: 0;
}
.nav_text{
    width: auto;
    height: 50px;
    position: relative;
    color: white;
    font-size: 22;
    font-weight: 800;
    font-family: "Inter-Black";
    align-items: center;
    display: flex;
    cursor: pointer;
}

.nav_text:active{
    color: rgb(18, 151, 23);
}

.nav_text:hover{
    color: rgba(171, 247, 174, 1);
}