@import url("../../assets/variables.css");

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.post-container .left-post {
  width: 75%;
}

.post-container{
  height: 280px;
  width: 880px;
  border: 3px solid #000;
  border-radius: 12px;
  display: flex;
}


.post-container .pprofile{
  display: flex;
  align-items: center;
}

.post-container .pprofile img{
  height: 40px;
  object-fit: cover;
  width: auto;
}

.post-container .plocation img{
  height: 10px;
  width: auto;
}

.post-container .pname {
  margin-left: 10px;

}


.post-container .pname{
  margin-right: 10px;
  font-size: var(--medium-font-size);
  font-family: Inter-Bold, sans-serif;
  font-weight: 600;
}

.post-container .content-container{
  width: 100%;
  padding-left: 40px;
  padding-right: 20px;
  height: 100%;
}
.post-container .ptitle{
  display: flex;
  font-size: var(--medium-font-size);
  font-family: Inter-Bold, sans-serif;
  font-weight: 700;
  font-size: 20px;
}


.post-container .post-tag{
  margin-top: 0px;
  border-radius: 8px;
  margin-bottom: 10px;
  border: 2px solid var(--accent, #12C418);
  background: var(--WHITE, #FFF); 
  color: var(--accent, #12C418);
  text-align: center;
  width: fit-content;
  padding: 0px 5px;
}

.post-container .detail-content {
  max-width: 600px;
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* number of lines to show */
  -webkit-box-orient: vertical;
  height: 100%;
  overflow: hidden;
}

.post-container .previews{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 200px;
  margin-top: 30px;
}

.post-container .rating-row{
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  height: 15px;
}



.post-container .pstars{
  width: 200px;
}


.post-container .pprice{
  text-align: right;
  color: #12C418;
  font-size: var(--xlarge-font-size);
  font-family: Inter-Bold, sans-serif;
  font-weight: 700;
}

.post-container .btn-row{
  margin-top: 15px;
  display: flex;
  text-align: center;
  width: 200px;
  justify-content: center;
}

.post-container .btn-bid button{
  height: 40px;
  width: 80px;
  background-color: var(--primary);
  border: none;
  color: #FFF;
  border-radius: 7px;
  margin-bottom: 10px;
}

.post-container .btn-bid button:active{
  background-color: #066409;
}

.post-container .rating img{
  height: 15px;
  width: 15px;
}

.post-container .rating p{
  margin: 0;
}


.post-container .pbid{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin-top: 70px;
  align-items: center;
}

.post-container .num-reviews-wrapper {
    text-align: center;
  }

.post-container .btn-row img{
  height: 40px;
  object-fit: cover;
  margin-left: 15px;
}