@import url("../../assets/variables.css");

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.left-post {
  width: 75%;
}

.post-container{
  height: 280px;
  width: 880px;
  border: 3px solid #000;
  border-radius: 12px;
  display: flex;
}


.pprofile{
  display: flex;
  align-items: center;
}

.pprofile img{
  height: 40px;
  object-fit: cover;
  width: auto;
}

.plocation img{
  height: 10px;
  width: auto;
}

.pname {
  margin-left: 10px;

}


.pname{
  margin-right: 10px;
  font-size: var(--medium-font-size);
  font-family: Inter-Bold, sans-serif;
  font-weight: 600;
}

.content-container{
  width: 100%;
  padding-left: 40px;
  padding-right: 20px;
  height: 100%;
}
.ptitle{
  display: flex;
  font-size: var(--medium-font-size);
  font-family: Inter-Bold, sans-serif;
  font-weight: 700;
  font-size: 20px;
}


.post-tag{
  margin-top: 0px;
  border-radius: 8px;
  margin-bottom: 10px;
  border: 2px solid var(--accent, #12C418);
  background: var(--WHITE, #FFF); 
  color: var(--accent, #12C418);
  text-align: center;
  width: fit-content;
  padding: 0px 5px;
}

.detail-content {
  max-width: 600px;
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* number of lines to show */
  -webkit-box-orient: vertical;
  height: 100%;
  overflow: hidden;
}

.previews{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 200px;
  margin-top: 30px;
}

.rating-row{
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  height: 15px;
}



.pstars{
  width: 200px;
}


.pprice{
  text-align: right;
  color: #12C418;
  font-size: var(--xlarge-font-size);
  font-family: Inter-Bold, sans-serif;
  font-weight: 700;
}

.btn-p{
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 200px;
}

.btn-bid button{
  height: 40px;
  width: 80px;
  background-color: var(--primary);
  border: none;
  color: #FFF;
  border-radius: 7px;
  margin-bottom: 10px;
}

.btn-bid button:active{
  background-color: #066409;
}

.rating img{
  height: 15px;
  width: 15px;
}

.rating p{
  margin: 0;
}


.pbid{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin-top: 70px;
  align-items: center;
}

.num-reviews-wrapper {
    text-align: center;
  }