@import url("../../assets/variables.css");
.post-container{
  height: 270px;
  width: 880px;
  border: 3px solid #000;
  border-radius: 12px;
  display: flex;
}


.profile{
  display: flex;
}

.profile img{
  margin: 10px;
  height: 80px;
  width: 80px;
}

.location img{
  height: 10px;
  width: 22px;
  margin-top: 25px;
}

.name {
  margin-top: 15px;
  margin-left: 10px;

}

.username {
  margin-top: 15px;
}


.name{
  margin-right: 10px;
  font-size: var(--medium-font-size);
  font-family: Inter-Bold, sans-serif;
  font-weight: 600;
}

.title{
  display: flex;
  margin-left: 110px;
  margin-top: -57px;
  font-size: var(--medium-font-size);
  font-family: Inter-Bold, sans-serif;
  font-weight: 700;
}

.tag{
  margin-left: 110px;
  margin-top: 5px;
}

.detail {
  max-width: 600px;
  max-height: 140px;
  margin-left: 70px;
  text-align: left;

}

.detail-header{
  margin-left: 70px;
  text-align: left;
  margin-top: 0px;
}

.reviews{
  margin-left: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  
}

.review{
 text-align: right;
}

.right{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.price{
  text-align: right;
  margin-right: 20px;
  font-size: var(--xlarge-font-size);
  font-family: Inter-Bold, sans-serif;
  font-weight: 700;
}

.btn-p{
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 0px;
  text-align: center;
}

.btn-bid button{
  height: 40px;
  width: 80px;
  background-color: var(--primary);
  border: none;
}

.wish button{
  background-color: #FFF;
  border: none;
}


