@import url("../../assets/variables.css");
.about-us {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
  }
  
  .about-us .div {
    background-color: #ffffff;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .about-us .overlap-2 {
    height: 14%;
    width: 100%;
  }
  
  .about-us .about-us-banner {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:url("../../assets/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .about-us .rectangle-4 {
    background-color: #0093047a;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .about-us .about-us-text-wrapper-11 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
    width: 1199px;
    z-index: 10;
    margin-top: 3%;
  }
  
  .about-us .about-us-text-wrapper-12 {
    color: #ffffff;
    font-family: "Lemon", Helvetica;
    font-size: 70px;
    font-weight: 400;
    line-height: normal;
    width: auto;
    margin-top: 5%;
    z-index: 10;
    float: left;
  }
  
  .about-us .overlap-wrapper {
    height: 58px;
    width: 231px;
  }
  
  .about-us .to-instruction-txt {
    background-color: #ffffff;
    border: 2px solid;
    border-color: #15a919;
    border-radius: 8px;
    height: 58px;
    position: relative;
    width: 229px;
    color: #15a919;
    font-family: "Inter-Bold", Helvetica;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0;
    justify-content: center;
    align-content:center ;
    line-height: normal;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    margin-top: 3%;
    margin-bottom: 3%;
  }
  
  .to-instruction-txt:active{
    background-color: #15a919;
    color: #ffffff; 
  }

  .about-us .frame {
    box-shadow: 0px 4px 4px #00000040;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 3%;
  }
  
  .about-us .experts-title {
    color: #000000;
    font-family: "Lemon", Helvetica;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: 3%;
  }

  .frame > .slick-slider{
    height: 48%;
    width: 100%;
    margin-top: 2%;
    padding-left: 5%;
    padding-right: 2%;
  }
  .slick-list{
    height: 100%;
    width: 100%;
  }
  
  .about-us .frame-2 {
    background-color: #058008;
    border: 5px solid;
    border-color: #058008;
    border-radius: 15px;
    box-shadow: 4px 4px 10px #00000040;
    height: 480px;
    overflow: hidden;
    width: 371px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .about-us .about-avatar-wrapper {
    height: 45%;
    object-fit: cover;
    margin-top: 5%;
    border: 4px solid #ffffff; 
    border-radius: 100%;   
  }
  
  .about-us .founder-name {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-top: 5%;
  }
  
  .about-us .founder-instruction {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
    width: 317px;
  }
  
  .about-us .text-wrapper-6 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: 3%;
    margin-bottom: 3%;
  }
  
  .about-us .expert-review-section {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .about-us .frame-5 {
    height: 640px;
    left: 0;
    top: 0;
    width: 1440px;
  }

  .expert-review-section .carousel-item{
    width: 80%;
  }

  .expert-review-section .carousel-control-prev{
    left: -12%;
    transition: none;
  }
  .expert-review-section .carousel-control-next{
    right: -12%;
    transition: none;
  }
  
  .about-us .review-container {
    background-color: var(--secondary);
    border-radius: 20px;
    box-shadow: 0px 4px 4px #00000040;
    height: 350px;
    width: 1000px;
    margin-top: 3%;
    flex-wrap: nowrap;
    padding-right: 1%;
  }
  
  .about-us .rectangle-5 {
    height: 330px;
  }
  .star-rating-wrapper{
    height: 20px;
    margin-top: 5%;
  }
  
  .about-us .reviewer-quote {
    color: black;
    font-family: "Inter-Regular", Helvetica;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
    width: auto;
  }
  

  .about-us .overlap-group {
    height: 398px;
    position: relative;
    width: 1411px;
  }
  
  .about-us .rectangle {
    background-color: #f8f7f7;
    border-radius: 12.32px;
    height: 398px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1378px;
  }

  
  
  
  .about-us .StatisticSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .about-us .inner-post {
    position: relative;
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-top: 3%;
  }
  .about-us .text-wrapper-10 {
    color: #000000;
    font-family: "Lemon", Helvetica;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    width: auto;
    text-align: center;
  }
  

  .about-us .result-container {
    border: 5px solid;
    border-color: #009304;
    border-radius: 20px;
    height: 100%;
    margin-top: 1%;
    width: 80%;
    align-self: center;
  }
  .about-us .result-container>.row {
    margin-top: 2%;
    margin-bottom: 2%;
  }

  .about-us .result-container .col-3{
    text-align: left;
    font-family: "Inter-Bold", Helvetica;
    font-size: 24px;
    font-weight: 400;
    color: #058008;

  }
  
  .about-us .text-wrapper-7 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
  }
  

 