

.ComplainTab{
    height: 100%;
    width: 100%;
    padding-top: 3%;
    display: inline-block;
  }
  
  .ComplainTab  .search-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
  }
  
  .ComplainTab .search-area {
    background-color: #fafcff;
    border: 0.93px solid;
    border-color: #989898;
    border-radius: 7px;
    height: 30px;
    position: relative;
    width: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 10px #0000001a;
  }
  
  .ComplainTab .user-management .text-wrapper {
    color: black;
    font-family: "Inter-Regular", Helvetica;
    font-size: 18.6px;
    font-weight: 800;
    letter-spacing: 0;
    line-height: normal;
    opacity: 0.5;
    width: 100%;
    border: none;
    text-align: center;
    /* Center the text horizontally */
    margin: 0 auto;
  }
  
  .ComplainTab .user-management .search-icon-instance {
    height: 60%;
    position: relative;
    margin-right: 1%;
  }
  
  
  .ComplainTab .user-management .gr-dropdown {
    background-color: #fafcff;
    border: 0.93px solid;
    border-color: #989898;
    border-radius: 7px;
    height: 30px;
    position: relative;
    width: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 10%;
    box-shadow: 0px 4px 10px #0000001a;
  }
  
  .ComplainTab .user-management .caret-icon {
    height: 9px;
    margin-right: 5%;
  }
  
  .ComplainTab .user-management .filter-text {
    color: var(--collection-1-dark-text);
    font-family: "Inter-Medium", Helvetica;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 0;
    line-height: normal;
    opacity: 0.5;
    margin-left: 5%;
  }
  
  .ComplainTab .user-management .overlap-5 {
    width: 100%;
    height: 90%;
    padding-top: 2%;
    padding-left: 60px;
    padding-right: 30px;
    box-sizing: border-box;
    display: inline-block;
  }
  
  
  .ComplainTab .user-management .table-user {
    height: 96%;
    width: 100%;
    padding-right: 30px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: inline-block;
  }
  
  .ComplainTab .user-management .table-head {
    width: 100%;
    --bs-gutter-x: 0;
  }
  
  
  .ComplainTab .user-management .text-wrapper-27 {
    color: var(--dark);
    font-family: "Inter-Bold", Helvetica;
    font-size: 18px;
    font-weight: 700;
    left: 177px;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
    white-space: nowrap;
    /* width: 139px; */
  }

  .ComplainTab .pagination-section{
    display: flex;
    justify-content: center;
  }
  