@import url("../../assets/variables.css");

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.issue-container .left-post {
  width: 88%;
}

.issue-container{
  height: 280px;
  /* width: 880px; */
  border: 3px solid #000;
  border-radius: 12px;
  display: flex;
  margin-top: 2%;
  margin-bottom: 2%;
}

.issue-container .pheader{
    margin-top: 1%;
    margin-left: 3%;
}


.issue-container .pprofile{
  display: flex;
  align-items: center;
}

.issue-container .pprofile img{
  height: 40px;
  object-fit: cover;
  width: auto;
}

.issue-container .plocation img{
  height: 10px;
  width: auto;
}

.issue-container .pname {
  margin-left: 10px;

}


.issue-container .pname{
  margin-right: 10px;
  font-size: var(--medium-font-size);
  font-family: Inter-Bold, sans-serif;
  font-weight: 600;
}

.issue-container .content-container{
  width: 100%;
  padding-left: 40px;
  padding-right: 20px;
  margin-top: 3%;
}
.issue-container .ptitle{
  display: flex;
  font-size: var(--medium-font-size);
  font-family: Inter-Bold, sans-serif;
  font-weight: 700;
  font-size: 20px;
}
.issue-container .evidence{
    font-size: 13px;
    font-family: "Inter-Regular", Helvetica;
    font-style: normal;
    display: flex;
    align-items: center;
    margin-left: 5px;
}


.issue-container .detail-content {
  max-width: 600px;
  text-align: left;
  /* height: 100%; */
  overflow: hidden;
}

.issue-container .previews{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 200px;
  margin-top: 30px;
}

.issue-container .btn-row{
  margin-top: 15px;
  display: flex;
  text-align: center;
  width: 200px;
  justify-content: center;
}

.issue-container .bid-button button{
  border: none;
  color: #FFF;

}


.issue-container .bid-button .accept, .reject{
    width: 104px;
    height: 25px;
    border-radius: 8px;
    border: none;
    
}

.issue-container .bid-button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.issue-container .accept{
    background-color: #15A919;
}

.issue-container .reject{
    background-color: #A91E15;
    
}



.issue-container .pbid{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  height: 100%;
}
