@import url("../../assets/variables.css");

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.proj-post-container .post-location img{
  height: 15px;
  width: 22px;
  margin-top: 20px;
}


.proj-post-container{
  /* width: 880px; */
  border: 3px solid #000;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.proj-post-container .post-profile{
  display: flex;
}

.proj-post-container .post-profile .img-post{
    height: 40px;
    object-fit: cover;
    width: auto;
}


.proj-post-container .post-name {
  margin-top: 15px;
  margin-left: 10px;
  font-size: 18px;
  font-family: Inter-Bold, sans-serif;
  font-weight: 700;
}

.proj-post-container .post-username {
  margin-top: 12px;
  font-size: 19px;
}


.proj-post-container .post-name{
  margin-right: 10px;
  font-size: var(--medium-font-size);
  font-family: Inter-Bold, sans-serif;
  font-weight: 600;
}

.proj-post-container .post-title{
  display: flex;
  margin-left: 110px;
  font-size: var(--medium-font-size);
  font-family: Inter-Bold, sans-serif;
  font-weight: 700;
}

.proj-post-container .post-tag{
  border-radius: 8px;
  margin-bottom: 10px;
  border: 2px solid var(--accent, #12C418);
  background: var(--WHITE, #FFF); 
  color: var(--accent, #12C418);
  text-align: center; 
  width: 70px;
  align-items: center;
}

.proj-post-container .post-tags .post-tag{
  margin-left: 0;
  margin-right: 0;
}

.proj-post-container .post-detail {
  max-width: 600px;
  max-height: 140px;
  margin-left: 70px;
  text-align: left;

}

.proj-post-container .post-reviews{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 200px;
  margin-top: 30px;
}

.proj-post-container .post-rating{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}

.proj-post-container .rating-container{
  align-items: center;
  text-align: center;
  padding-top: 9px;
}

.proj-post-container .post-stars{
  width: 200px;
}


.proj-post-container .post-price{
  text-align: right;
  font-size: var(--xlarge-font-size);
  font-family: Inter-Bold, sans-serif;
  font-weight: 700;
}

.proj-post-container .btn-bid-container{
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 200px;
}

.proj-post-container .btn-bid-project button{
  height: 40px;
  width: 80px;
  background-color: var(--primary);
  border: none;
  border-radius: 8px;
}

.proj-post-container .post-wish button{
  background-color: #FFF;
  border: none;
}

.proj-post-container .post-rating img{
  height: 15px;
  width: 15px;
}

.proj-post-container .post-rating p{
  margin: 0;
}


.proj-post-container .post-bid{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin-top: 70px;
  align-items: center;
}

.proj-post-container .post-wish img{
  background-color: #FFF;  
  height: 30px;
  width: 30px; 
}

.proj-post-container    .post-tags{
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: flex-start;
  gap: 3px;
  margin-left: 110px;
  margin-top: 4px!important;
}
