.main-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: relative;
  min-height: 800px;
  min-width: 1500px;
}

.pop-up-sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    z-index: 1000;
    width: 100%;
    top: 80px;
  }
  
  .pop-up-sign-up .signup-wrapper {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
    height: 600px;
    width: 50%;
    position: relative;
    width: 709px;
    justify-content: center;
    border-radius: 20px;
    overflow: hidden;
  }
  