@import url("../../assets/variables.css");

.delete-button{
    background-color: var(--white);
    border: 2px solid var(--black);
    border-radius: 12px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: space-around;
    align-items: center;

    /* red cross */
    color: var(--red);
    font-size: 1.5rem;
    font-weight: bold;
}